.video-card {
  background-color: var(--default-color);
  min-width: 30rem;
  max-width: 40rem;
  height: 40rem;
  cursor: pointer;
  border-radius: 0px;
}

.card-thumbnail {
  height: 65%;
}

.card-thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.video-time {
  color: var(--secondary-color);
  background-color: var(--default-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.video-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.video-details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.video-title {
  color: var(--pastel-green);
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.video-channel {
  color: var(--secondary-color);
  font-size: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.avatar-img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.video-data {
  color: var(--secondary-color);
  font-size: 1rem;
}
.action-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding: 0.5rem;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.like-button,
.watchlater-button,
.playlist-button {
  background-color: var(--pastel-green);
}

.btn-float:hover {
  background-color: var(--secondary-color);
}

.like-icon,
.wl-icon,
.playlist-icon {
  color: var(--default-color);
  font-size: 2rem;
}
