.watch-later-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.watch-later-wrapper .videos-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin: 2rem;
}

.list {
  align-items: stretch;
  width: 65%;
}

.stacked {
  border: none;
  margin: 1rem;
}
